<div class="hud">
    <div class="resources">
        <div class="resource">
            <span id="metal">Metal: 0/1000</span>
            <span id="metal-income">+0/h</span>
        </div>
        <div class="resource">
            <span id="crystal">Cristal: 0/1000</span>
            <span id="crystal-income">+0/h</span>
        </div>
        <div class="resource">
            <span id="helium">Heliu: 0/500</span>
            <span id="helium-income">+0/h</span>
        </div>
        <div class="resource">
            <span id="energy">Energie: 0/500</span>
            <span id="energy-income">+0/h</span>
        </div>
    </div>
    <div class="player-info">
        <span id="player-name">Nume: Necunoscut</span>
        <span id="player-race">Rasă: Neselectată</span>
    </div>
</div>
