<div class="hud">
    <div class="resources">
        <div class="resource-item">
            <span id="metal">Metal: 0/100000</span>
            <span id="metal-amount">+0/h</span>
        </div>
        <div class="resource-item">
            <span id="crystal">Cristal: 0/100000</span>
            <span id="crystal-amount">+0/h</span>
        </div>
        <div class="resource-item">
            <span id="helium">Heliu: 0/50000</span>
            <span id="helium-amount">+0/h</span>
        </div>
        <div class="resource-item">
            <span id="energy">Energie: 0/50000</span>
            <span id="energy-amount">+0/h</span>
        </div>
    </div>
    <div id="player-info">
        <span id="player-name">Nume: Necunoscut</span>
        <span id="player-race">Rasă: Nesetată</span>
        <span id="player-coords">Coordonate: (0, 0)</span>
    </div>
</div>
