<div id="menu">
    <nav id="nav-menu" class="sf-nav">
        <nav>
            <button id="home-btn" class="sf-button">Home</button>
            <button id="buildings-btn" class="sf-button">Clădiri</button>
            <button id="research-btn" class="sf-button">Cercetare</button>
            <button id="fleet-btn" class="sf-button">Flotă</button>
            <button id="map-btn" class="sf-button">Hartă</button>
            <button id="reset-btn" class="sf-button">Resetează Joc</button>
        </nav>
    </nav>
</div>
