<div class="tab-content">
    <h2>Harta Galactică</h2>
    <div class="map-container">
        <canvas id="galaxy-map" width="800" height="500"></canvas>
        <div class="map-legend">
            <div><span class="color-box" style="background: #FF6347;"></span>Planeta Alpha</div>
            <div><span class="color-box" style="background: #4682B4;"></span>Planeta Beta</div>
            <div><span class="color-box" style="background: #32CD32;"></span>Planeta Gamma</div>
            <div><img src="https://i.postimg.cc/8C2Y2k3n/player-base.png" width="15" height="15" style="margin-right: 5px;">Baza ta</div>
        </div>
    </div>
</div>
