<div class="map-container">
    <h1>Harta Galactică</h1>
    <div class="filter-container">
        <button id="filter-all">Toți Jucătorii</button>
        <button id="filter-allies">Aliați</button>
        <button id="filter-enemies">Inamici</button>
    </div>
    <canvas id="planetMap" width="1000" height="1000"></canvas>
    <div id="tooltip" class="tooltip"></div>
    <div id="contextMenu" class="context-menu">
        <button id="attackBtn">Atacă</button>
        <button id="spyBtn">Spionează</button>
    </div>
</div>
