body {
    background: url('https://i.postimg.cc/d07m01yM/fundal-joc.png') no-repeat center/cover fixed;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#main-content {
    display: flex;
    margin-top: 120px; /* Spațiu pentru HUD */
}

#content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
    min-height: calc(100vh - 150px);
}
