.buildings-container {
    text-align: center;
    padding: 20px;
    color: #B0B0B0;
    margin-top: 100px;
}

.building-category {
    margin: 20px 0;
}

.building-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}
