/* Stiluri pentru ecranul de joc */
#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hud {
  width: 100%;
  margin-bottom: 20px;
}

#menu {
  width: 100%;
  margin-bottom: 20px;
}

#menu nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#menu nav button {
  margin: 0 5px;
}

#game-content {
  width: 100%;
  background-color: #444;
  padding: 15px;
  border-radius: 5px;
}
