#menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-container li {
    margin-bottom: 20px;
}

#menu-container a {
    color: #00ccff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 12px;
    border-radius: 6px;
    transition: all 0.3s;
    text-shadow: 0 0 5px #00ccff;
}

#menu-container a:hover {
    background: linear-gradient(45deg, #ff00ff, #00ccff);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}
