.race-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.race-card {
    background-color: #2A2A2A;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6E6E6E;
}

.race-card:hover {
    background-color: #3A3A3A;
}

.race-card img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.race-card h3 {
    color: #B0B0B0;
    margin: 10px 0;
}

.race-card p {
    color: #6E6E6E;
    font-size: 0.9em;
}
