/* css/tutorial.css - Stiluri pentru tab-ul "Tutorial" */

.tutorial-section {
    background-color: rgba(var(--bg-tertiary-rgb), 0.7);
    border: 1px solid var(--ui-border-dark);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.tutorial-section h3 {
    color: var(--accent-blue);
    margin-bottom: 10px;
    font-size: 1.6em;
    border-bottom: 1px dashed rgba(var(--ui-border-dark-rgb), 0.5);
    padding-bottom: 5px;
}

.tutorial-section p {
    color: var(--text-color-dark);
    margin-bottom: 10px;
}
